doctype html
html
  head
    title= "SAP Chapter1 section 1.2.2"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/scripts/jquery-2.1.js') //jqueryはどのページでもロード
    block scripts //個別のスクリプトは別途記述
  body
    block content

