body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#2f4f4f;
}
h1 { color: #ffe4b5;}
a {
  color: #00B7FF;
}
.p_{
	color: #ffe4b5;
}

      html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
      }
	#map-canvas{
		height:90%;
		width:60%;
	        margin: 0px;
	        padding: 0px;
		float:left;
	}
	#map-controler{
		width:20%;
		background:#2f4f4f;
		height:200px;
	        margin: 0px;
	        padding: 0px;
		float:left;
	}
	.jqPlot-sample{
			width:15%;
	        margin: 0px;
	        padding: 0px;
		background:#2f4f4f;
		float:right;
	}
	#tweets_viewer{
		width:40%;
		background:#2f4f4f;
	        margin: 0px;
	        padding: 0px;
		float:right;
	}
	#right_wrapper{
		width:40%;
		background:#2f4f4f;
	        margin: 0px;
	        padding: 0px;
		float:right;
	}

      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
