body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p{
        margin: 0px;
        padding: 0px

}
      html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #time_range{
      	width:70%;
        margin: 0px;
        padding: 0px;
        float:right;
      }
	#map-canvas{
		height:90%;
		width:75%;
	        margin: 0px;
	        padding: 0px;
		float:left;
	}
	#map-controler{
		width:25%;
		background:black;
		height:100px;
	        margin: 0px;
	        padding: 0px;
		float:right;
	}
	.Time_container{
		width:50%;
		height:100px;
	        margin: 0px;
	        padding: 0px;
		float:left;
		margin:0 auto;
	}

	#tweets_viewer{
		width:25%;
		background:red;
	        margin: 0px;
	        padding: 0px;
		float:right;
	}
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
